
.activity-box
{
    max-height:600px;
    overflow-y:scroll;
}
.current-debt-value
{
    position:absolute;
    left:15.5%;
    top:100px;
}
.current-debt-value :first-child
{
    font-weight:bold;
    color:#333333;
}
.current-debt-value :last-child
{
    color:#e82929;
}
.message-box {
    display: none;
    position: absolute;
    min-width: 200px;
    min-height: 30px;
    right: 5%;
    top: 15%;
}
.activity-info
{
    float:left;
    padding:3px;
    margin-right:15px;
    margin-bottom:20px;
    min-width:250px;
}
.activity-info.purchase-activity
{
    color:#0026ff;
    color:#bf2424;
}
.activity-info.payment-activity {
    color: #0094ff;
}
.activity-info.return-activity {
    color: #ff6a00;
}
.activity-info.refund-activity {
    color: #650d9a;
}
.process-btns
{
    margin-bottom:30px;
}
.customer-img
{
 
}
#customer-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;

}
