/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
body {
    font-family: roboto;
}
.header {
    min-height: 60px;
    padding: 20px;
}
a.navbar-brand {
    display:block;
    float:left;
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
   
    overflow-x:hidden;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: #f2f2f2;
    font-family:roboto;
}
a {
    color: #ff6a00;
    border: 0px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
.navbar-box
{
    float:left;
}
.nav-item
{
    display:inline-block;
    margin-right:30px;

}
.page-container {
    position: relative;
}


.pagination-box {
    position: absolute;
    left: 50%;
    bottom: 10%;
}
.page-number {
    border: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 12px;
    padding-left: 12px;
    text-align: center;
    line-height: 100%;
    margin-right: 10px;
    font-size: 11px;
    background: none;
    color: #0b54d8;
    outline: 0px;
    border-radius: 5px;
    cursor: pointer;
}

.page-number.current-page {
    background: #ff6a00;
    color: #f2f2f2;
    cursor: default;
}

.page-number.other-pages:hover {
    background: #20fbee;
    color: #ff6a00;
    transition: 0.2s;
}