@model BaseViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CustomerTracking</title>
    <link rel="stylesheet" href="~/styles/main.css" />
    <script type="text/javascript" src="~/scripts/http.js"></script>
    <script type="text/javascript" src="~/scripts/parser.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script type="text/javascript">
        let page = {};
        function main() { } // base for override
    </script>
</head>
<body onload="main()">
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
