@model BaseViewModel
<script type="text/javascript" src="~/scripts/User/Users.js"></script>
<link rel="stylesheet" href="~/styles/users.css" />
<link rel="stylesheet" href="~/styles/details.css" />
<div class="header">header</div>
<div class="page-container clearfix">
    <div class="side-bar" id="side-bar">
        <ul>
            <li>
                <a class="menu-item" id="home-btn">Home</a>
            </li>
        </ul>
    </div>
    <div class="clearfix" id="user-create-form">
        <div class="user-list-top">
            <h1 class="user-title">Create a User</h1>
             <button class="user-modal-btn" id="user-modal-btn">+ Add User</button>
        </div>
        <div id="user-modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Create User</h2>
                <div class="type-chose">
                    <select class="select-box" id="select-user-type">
                        <option value="0">Admin</option>
                        <option value="1">Manager</option>
                        <option value="2">Employee</option>
                    </select>
                    <button class="btn btn-inline" id="chose-type-btn">Chose Type</button>
                </div>
                <div id="user-type-title"></div>
                <div class="info-title">Username:</div>
                <div><input class="info-input" type="text" id="user-create-username" /></div>
                <div class="info-title">Fullname:</div>
                <div><input class="info-input" type="text" id="user-create-fullname" /></div>
                <div class="info-title">Password:</div>
                <div><input class="info-input" type="password" id="user-create-password" /></div>
                <div class="info-title">Email:</div>
                <div><input class="info-input" type="text" id="user-create-email" /></div>
                <div class="info-title">Gender:</div>
                <div>
                    <select class="select-box" id="select-gender">
                        <option value="0">Female</option>
                        <option value="1">Male</option>
                    </select>
                </div>
                <div class="info-title">Phone:</div>
                <div><input class="info-input" type="text" id="user-create-phone" /></div>
                <div class="info-title">Birth Year:</div>
                <div><input class="info-input" type="text" id="user-create-birthyear" /></div>
                <div  class="info-title" id="manager">Manager:</div>
                <div>
                    <div>
                        <select class="select-box" id="select-manager">
                        </select>
                    </div>
                </div>
                <div><button class="btn btn-down-left" id="user-create-btn">Add User!</button></div>
            </div>
        </div>
        <div class="user-list clearfix" id="user-list">
            <div class="user-info-titles clearfix">
                <div>Username</div>
                <div>FullName</div>
                <div>Email</div>
                <div>Gender</div>
                <div>Phone</div>
                <div>Type</div>
                <div>Birth Year</div>
            </div>
            <div class="users clearfix" id="users"></div>
        </div>
    </div>
    <div class="pagination-box" id="pagination-box"></div>
</div>
<div id="error" style="margin-bottom:60px;display:none;"></div>
